:root {
    overflow-x: hidden;
    --main-bg-color: #EDEDED;
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    
}

#space-div {
    margin-bottom: 0.25rem;
}

#qanda-block {
    /*margin-top: 1rem;*/
    font-weight: bold;
    background-color: #B5D5FF;
}

#optionblock {
    background-color: #F4F4F4;
    font-size: 1rem !important;
    margin-top:0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    
}

form > p {
    margin-bottom: 0.25rem;
}

form > .col {
    background-color: #F4F4F4;
}

#response-sub {
    margin: 2rem auto;
    width: 50%;
    align-self: center;
    font-weight: bolder;
    background-color: #3175AE;
}